@import "../../colors.scss";

.step {
  padding: 10px 0;
  background: linear-gradient(to right, #bcf7da, #bef5d6);
  width: 100%;
  text-align: center;
  border-top: 1px solid #c2d4d0;
  border-bottom: 1px solid #c2d4d0;
  margin: 10px 0;

  p {
    font-size: 22px;
    font-weight: 600;
    color: $grey;
  }
}
